<a href="https://colab.research.google.com/github/Kamranbarlas/Python-Crash-Course-Implementation/blob/master/Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CLASSES

9-1.Restaurant:MakeaclasscalledRestaurantThe__init__()methodfor 
Restaurantshouldstoretwoattributes:arestaurant_nameandacuisine_type Makeamethodcalleddescribe_restaurant()thatprintsthesetwopiecesof 
information,andamethodcalledopen_restaurant()thatprintsamessageindi-catingthattherestaurantisopen

In [3]:
class Restaurant():
    def __init__(self,restaurant_name,cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type
    def describe_restauraunt(self):
        print("Name: {} \nCuisine Type: {}".format(self.restaurant_name,self.cuisine_type))
    def open_resturaunt(self):
        print("The {} is open".format(self.restaurant_name))

In [4]:
restauraunt_1 = Restaurant("MFC","Tikka")

MakeaninstancecalledrestaurantfromyourclassPrintthetwoattri-butesindividually,andthencallbothmethods

In [8]:
restauraunt_1.restaurant_name

'MFC'

In [9]:
restauraunt_1.cuisine_type

'Tikka'

9-2.Three Restaurants:Start withyour class from Exercise 9-1 Createthree different instances from the class, andc all describe_restaurant() for each 
instance

In [11]:
restauraunt_1 = Restaurant("MFC","Tikka")
restauraunt_2 = Restaurant("Dehli Sohail","Nihari")
restauraunt_3 = Restaurant("Karchi Food Centre","Biryani")

In [13]:
restauraunt_1.describe_restauraunt()

Name: MFC
Cuisine Type: Tikka

In [14]:
restauraunt_2.describe_restauraunt()

Name: Dehli Sohail
Cuisine Type: Nihari

In [15]:
restauraunt_3.describe_restauraunt()

Name: Karchi Food Centre
Cuisine Type: Biryani

9-3.Users:Make a class called User two attributes called first_name 
and last_name,and then create several other attributes that are typically stored  in a user profile Make a method called describe_user() that prints a summary  of the userâ€™s information Make another method called greet_user() that prints a personalized greeting to the user

In [65]:
class User():
    def __init__(self,first_name,last_name,contact_number):
        self.first_name = first_name
        self.last_name = last_name
        self.contact_number = contact_number
    def describe_user(self):
        print("Name: {} {} contact: {}".format(self.first_name,self.last_name,self.contact_number))
    def greet_user(self):
        print("Greeting To {} {} , we Welcome you to Our Resauraunt".format(self.first_name,self.last_name))

In [66]:
User_1 = User("Muzzamil","Altaf","034400XXXXX")
User_2 = User("Kashan","Baig","0347241XXXXX")
User_3 = User("Monis","Zaidi","0300XXXXXXX")

Create several instances representing different users,and call both methods for each user

In [67]:
User_1.describe_user()
User_1.greet_user()

Name: Muzzamil Altaf contact: 034400XXXXX
Greeting To Muzzamil Altaf , we Welcome you to Our Resauraunt

In [68]:
User_2.describe_user()
User_2.greet_user()

Name: Kashan Baig contact: 0347241XXXXX
Greeting To Kashan Baig , we Welcome you to Our Resauraunt

In [26]:
User_3.describe_user()
User_3.greet_user()

Name: Monis Zaidi contact: 0300XXXXXXX
Greeting To Monis Zaidi , we Welcome you to Our Resauraunt

# 9-4 
Start with your program from Exercise 9-1 (page 166)
Add an attribute called number_served with a default value of 0 Create an 
instance called restaurant from this class Print the number of customers the 
restaurant has served, and then change this value and print it again

In [55]:
class Restaurant():
    def __init__(self,restaurant_name,cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type
        self.number_served = 0
    def describe_restauraunt(self):
        print("Name: {} \nCuisine Type: {}".format(self.restaurant_name,self.cuisine_type))
    def open_resturaunt(self):
        print("The {} is open".format(self.restaurant_name))
    def set_number_served(self,new_Customers):
        self.number_served =new_Customers
    def increment_number_served(self,new_Customers):
        self.number_served +=new_Customers

In [57]:
restaurant_from_this_class = Restaurant("Mc Donalds","fries")
restaurant_from_this_class.number_served

0

In [58]:
restaurant_from_this_class.number_served = 3

In [63]:
restaurant_from_this_class.number_served

6

Add a method called set_number_served() that lets you set the number 
of customers that have been served Call this method with a new number and 
print the value again

In [60]:
restaurant_from_this_class.set_number_served(4)

Add a method called increment_number_served() that lets you increment 
the number of customers whoâ€™ve been served Call this method with any number you like that could represent how many customers were served in, say, a 
day of business

In [64]:
restaurant_from_this_class.increment_number_served(2)
restaurant_from_this_class.number_served

8

# 9-5. Login Attempts:
 Add an attribute called login_attempts to your User
class from Exercise 9-3 (page 166) Write a method called increment_
login_attempts() that increments the value of login_attempts by 1 Write 
another method called reset_login_attempts() that resets the value of login_
attempts to 0.
Make an instance of the User class and call increment_login_attempts()
several times Print the value of login_attempts to make sure it was incremented 
properly, and then call reset_login_attempts() Print login_attempts again to 
make sure it was reset to 0

In [69]:
class User():
    def __init__(self,first_name,last_name,contact_number):
        self.first_name = first_name
        self.last_name = last_name
        self.contact_number = contact_number
        self.login_attempts = 0
    def describe_user(self):
        print("Name: {} {} contact: {}".format(self.first_name,self.last_name,self.contact_number))
    def greet_user(self):
        print("Greeting To {} {} , we Welcome you to Our Resauraunt".format(self.first_name,self.last_name))
    def increment_login_attempts(self):
        self.login_attempts += 1
    def reset_login_attempts(self):
        self.login_attempts = 0

In [70]:
User_1 = User("Kamran","Barlas","0324338377X")

In [78]:
User_1.describe_user()
User_1.increment_login_attempts()
User_1.login_attempts

Name: Kamran Barlas contact: 0324338377X

1

In [79]:
User_1.reset_login_attempts()
User_1.login_attempts

0

# Inheritance